{% extends "index.html.j2" %}
{% block firstpagecontent %}
{% endblock firstpagecontent %}
{% block content %}

<div w3-include-html="actus_contenu.html"></div>
<script>
includeHTML();
</script>




{% endblock content %}
