{% extends "index.html.j2" %}
{% block firstpagecontent %}
{% endblock firstpagecontent %}
{% block content %}



<div class="table-responsive">
	<table class="table table-striped table-hover">
		<tbody><tr>
			<th>Date</th>
			<th>Nom</th>
			<th>Organisateur</th>
			<th class="text-center">Publication</th>
      <th class="text-center">Classements</th>
		</tr>

    {% for x, line in calendar.iterrows() %}
    <tr class="">
      <td class="">{{line["Date"]}}</td>
      <td class="">{{line["Nom"]}}
				{%- if line["Info"]|length >0 -%}
					<br><font color="red"><u>{{line["Info"]}}</u></font>
				{% endif %}
			</td>
      <td class="">{{line["Club"]}}</td>
      <td class="text-center">
        {% if line["publi_dispo"] == True %}
        <a href="{{ line["lien_publi"] }}">
				<img  src="./Styling/images/loupe.png" width="22" height="22"></a>
        {% endif %}
      </td>
      <td class="text-center">
        {% if line["resul_dispo"] == True %}
        <a href="{{ line["lien_resul"] }}">
        <img  src="./Styling/images/podium.png" width="26" height="22"></a>
        {% endif %}
				{% if line["resul1_dispo"] == True %}
				<a href="{{ line["lien_resul1"] }}">
				<img  src="./Styling/images/podium.png" width="26" height="22"></a>
				{% endif %}
      </td>
    </tr>
    {% endfor %}

	</tbody></table>
</div>


<div style="text-align:center;">
<h3><a href="./grimpees/resultats/challenge.pdf">Trophée des Grimpées Final 2019</a></h3>
<h4><a href="./grimpees/resultats/participations_ind_grimpee.pdf">Participation indivuelle 2019</a></h4>

<br>
<h4>Archives résultats grimpées :
	<a href="./grimpees/archives/Grimpee_2011.pdf">2011</a>
	<a href="./grimpees/archives/Grimpee_2012.pdf">2012</a>
	<a href="./grimpees/archives/Grimpee_2013.pdf">2013</a>
	<a href="./grimpees/archives/Grimpee_2014.pdf">2014</a>
	<a href="./grimpees/archives/Grimpee_2015.pdf">2015</a>
	<a href="./grimpees/archives/Grimpee_2016.pdf">2016</a>
	<a href="./grimpees/archives/Grimpee_2017.pdf">2017</a>
	<a href="./grimpees/archives/Grimpee_2018.pdf">2018</a>
	<a href="./grimpees/archives/Grimpee_2019.pdf">2019</a>
	<a href="./grimpees/archives/Grimpee_2020.pdf">2020</a>
</h4>
</h4>

</div>

{% endblock content %}
