{% extends "index.html.j2" %}


{% block content %}

<!-- <div class="table-responsive">
	<table class="table table-striped table-hover"> -->
	<div class="table-responsive">
		<table class="table table-striped table-hover">

		<tbody><tr>
			<th>Date</th>
			<th>Nom</th>
			<th>Organisateur</th>
			<th class="text-center">Publication</th>
      <th class="text-center">Classements</th>
		</tr>

    {% for x, line in calendar.iterrows() %}
    <tr class="">
      <td class="">{{line["Date"]}}</td>
      <td class="">{{line["Nom"]}}
						{%- if line["Info"]|length >0 -%}
							<br><font color="red"><u>{{line["Info"]}}</u></font>
						{% endif %}
				</td>
      <td class="">{{line["Club"]}}</td>
      <td class="text-center">
        {% if line["publi_dispo"] == True %}
        <a href="{{ line["lien_publi"] }}">
				<img  src="./Styling/images/loupe.png" width="22" height="22"></a>
        {% endif %}
				{% if line["horaires_dispo"] == True %}
        <a href="{{ line["lien_horaires_depart"] }}">
				<img  src="./Styling/images/details.png" width="22" height="22"></a>
        {% endif %}
				{% if line["engages_dispo"] == True %}
				<a href="{{ line["lien_engages"] }}">
				<img  src="./Styling/images/details.png" width="22" height="22"></a>
				{% endif %}
      </td>
      <td class="text-center">
        {% if line["resul_dispo"] == True %}
        <a href="{{ line["lien_resul"] }}">
        <img  src="./Styling/images/podium.png" width="26" height="22"></a>
        {% endif %}
				{% if line["resul1_dispo"] == True %}
        <a href="{{ line["lien_resul1"] }}">
        <img  src="./Styling/images/podium.png" width="26" height="22"></a>
        {% endif %}

      </td>
    </tr>
    {% endfor %}

	</tbody></table>
</div>

<div style="text-align:center;">
<h3><a href="./route/resultats/challenge.pdf">Trophée interrégional DNA 2018</a></h3>

<h4><a href="./route/resultats/points_montee.pdf">Points marqués pour les montées de catégorie</a></h4>

<h4><a href="./route/resultats/coureurs_montes.pdf">Coureurs montés de catégorie</a></h4>

<h5><a href="./route/resultats/Participations_equ_route.pdf">Participation par équipe 2018</a></h5>
<h5><a href="./route/resultats/Participations_ind_route.pdf">Participation individuelle 2018</a></h5>
</div>




{% endblock content %}
