{% extends "index.html.j2" %}

{% block relativePath %}../{% endblock relativePath %}
{% block firstpagecontent %}
{% endblock firstpagecontent %}
{% block content %}

<div w3-include-html="liens_content.html"></div>
<script>
includeHTML();
</script>


{% endblock content %}
