{% extends "index.html.j2" %}

{% block relativePath %}../{% endblock relativePath %}

{% block content %}

<div w3-include-html="commissaires_content.html"></div>
<script>
includeHTML();
</script>


{% endblock content %}
